    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="vm.frame.toggleSidebar()">
                Layer
                <i class="menu-icon fa fa-remove"></i>
            </a>                       
        </li>
        <li class="sidebar-list">
            <a href="/">Layer</a>
        </li>
        <li class="sidebar-list">
            <a href="#" ng-click="showSystemStatus = !showSystemStatus">
                System Status
            </a>
        </li>
    </ul>
