    <div>
        <ul class="toolbar">
            <li>
                <a ng-click="vm.frame.toggleSidebar('sidebar')">
                    <i class="menu-icon fa fa-bars"></i>
                </a>                       
            </li>
            <li>
                <a ng-click="vm.frame.toggleSidebar('layerbar')">
                    <i class="menu-icon fa fa-bars"></i>
                </a>                       
            </li>            
            <li><i class="menu-icon fa fa-bars"></i></li>
            <li><i class="menu-icon fa fa-bars"></i></li>
            <li><i class="menu-icon fa fa-bars"></i></li>        
        </ul>
<!--        <button ng-click="vm.doBounce(vm.rome);">Bounce To Rome</button>
        <span>Position: {{vm.position[0] | number:4}} - {{vm.position[1] | number:4}}</span>        
        <select ng-model="vm.type" ng-change="vm.typeChanged()" ng-options="type for type in vm.types">
        </select>
-->        
    </div>

      
    <style>
    ul.toolbar2 {
        /*list-style-type : none; */
        /* Car sinon les puces se placent n'importe où */
        display: inline-block;
        background-color:pink;  
        -webkit-padding-start: 0px;      
    }

    /* Je sélectionne les <li> du menu horizontal */
    ul.toolbar2 li { 
        display : inline;
        /*display: inline-block;*/
        background-color:blue;
        font-size: 24px;
        /*width:50px;*/
        margin:5px;
        padding:6px;
    }    


    ul.toolbar {
        list-style-type : none;
        display: inline-block;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;     
    }  
        
    ul.toolbar li { 
        width:30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        font-size: 28px;
        float:left;
        border: 1px solid lightgray;
        margin: 3px;
    }

    /* roll over - move the background image by the height of the button (100px) */
    /*ul.toolbar li a:hover { background-color:green; }*/

    /* active state - move the background image by twice height of the button (200px) */
    ul.toolbar li a.active, ul.toolbar li a.active:hover { background-color:red; }

    </style>




