/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /*margin-bottom: 60px;*/
  height: 100%;
}
.maxdiv {
  position: absolute;
  left: 1px;
  right: 1px;
  /*bottom: 61px;*/
  top: 52px;  
  background: #999;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #2d3e63;
}


#main-area-wrapper.wide-add,
#main-area-wrapper.wide-remove {
    transition: all .3s;
}

#main-area-wrapper.wide-add-active,
#main-area-wrapper.wide {
    left: 251px;
    right: -251px;
    bottom: 61px; 
}

#main-area-wrapper {
    top: 52px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    bottom: 61px;    
}

.sidebar-wrapper.open-add,
.sidebar-wrapper.open-remove {
    transition: all .3s;
}

.sidebar-wrapper.open-add-active {
    margin-left: 0;
    left: 0;
}

.sidebar-wrapper.open {
    margin-left: 0;
    left: 0;
}

.sidebar-wrapper {
    top: 52px;
    margin-left: -250px;
    left: 0px;
    width: 250px;
    position: fixed;
    z-index: 999;
    background: #30426a;
    bottom: 61px;    
}

  ul.toolbar {
    list-style-type: none;
    display: inline-block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
  
  ul.toolbar li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 28px;
    float: left;
    border: 1px solid lightgray;
    margin: 3px;
  }
  /* roll over - move the background image by the height of the button (100px) */
  /*ul.toolbar li a:hover { background-color:green; }*/
  /* active state - move the background image by twice height of the button (200px) */
  
  ul.toolbar li a.active,
  ul.toolbar li a.active:hover {
    background-color: red;
  }